.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 15px;
  width: 100%;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  border-radius: 5px;
}

.product__rating {
  display: flex;
  color: #ffa41c;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: linear-gradient(#f7dea1, #f0c14d);
  padding: 5px 10px;
  border: 0.5px solid #aaaaaa;
  border-radius: 3px;
  margin: 15px 0;
  color: #111;
}

.product > button:active {
  background: linear-gradient(#f5d68a, #eeba36);
}

.product__price {
  margin-top: 5px;
}

.product__info {
  justify-content: flex-start;
  margin-bottom: 15px;
}

.product:hover {
  box-shadow: 0 4px 6px rgba(22, 22, 26, 0.18);
}
